:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --dark-blue-more: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--very-light-gray);
  font-family: "Nunito Sans", sans-serif;
  color: var(--dark-blue-more);
}

body.dark {
  background: var(--very-dark-blue);
  color: var(--white);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 8vw;
  background-color: var(--white);
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
}
body.dark header {
  background-color: var(--dark-blue);
}
h1 {
  font-size: 30px;
}
.dark-mode {
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
}
.dark-mode label:hover {
  cursor: pointer;
}
.dark-mode button {
  padding: 3px 4px;
  border: none;
  background: rgba(255, 255, 255, 0);
  transition: 0.6s;
}
.dark-mode button:hover {
  background-color: var(--dark-blue-more);
  border-radius: 50%;
  cursor: pointer;
}
body.dark .dark-mode button:hover {
  background-color: var(--white);
}
.dark-mode button i {
  color: var(--dark-blue-more);
}
body.dark .dark-mode button i {
  color: var(--white);
}
.dark-mode button:hover i {
  color: var(--white);
}
body.dark .dark-mode button:hover i {
  color: var(--dark-blue-more);
}
.dark-mode label {
  margin-left: 5px;
  font-size: 16px;
}

.invisible {
  display: none;
}

.choice {
  display: flex;
  justify-content: space-between;
  padding: 50px 8vw 0 8vw;
}

.choice input,
.choice select,
button.back_home,
.border-country {
  padding: 15px;
  border: none;
  background: var(--white);
  color: var(--dark-blue-more);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  border-radius: 5px;
}

body.dark .choice input,
body.dark .choice select,
body.dark button.back_home,
body.dark .border-country {
  background-color: var(--dark-blue);
  color: var(--white);
}

.choice input:hover,
.choice select:hover,
button.back_home:hover,
.border-country:hover {
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

body.dark .choice input:hover,
.choice select:hover,
button.back_home:hover,
body.dark .border-country:hover {
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.6);
}
.choice input:focus,
.choice select:focus {
  border: none;
  outline: none;
}
.choice input {
  min-width: 35vw;
}
.choice input::placeholder {
  color: var(--dark-gray);
}
body.dark .choice input::placeholder {
  color: var(--white);
}

div.countries {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 5vw;
}
div.country {
  margin: 35px;
  width: 270px;
  height: 350px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
body.dark div.country {
  background-color: var(--dark-blue);
}
div.country:hover {
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
body.dark div.country:hover {
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.6);
}
div.country .img {
  width: 270px;
  height: 180px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
}
div.country h2 {
  padding: 20px 0 10px 20px;
  font-size: 19px;
}

div.country ul,
ul {
  font-size: 14px;
  list-style: none;
  line-height: 25px;
}
div.country ul {
  padding: 10px 0 10px 20px;
}

div.country ul li,
ul li,
.border-countries p {
  letter-spacing: 1px;
  font-weight: bold;
}

span {
  font-weight: lighter;
}

/* styles page with details */
button.back_home {
  margin: 60px 8vw;
  padding: 10px 40px;
  word-spacing: 15px;
}
.details {
  display: flex;

  justify-content: space-between;
  margin: 0 8vw;
}
.flag_img {
  width: 500px;
  height: 350px;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.1);
}
div.country_details h2 {
  margin: 40px 0;
  font-size: 32px;
}

.country_details {
  max-width: 600px;
}
.all-details {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.all-details ul {
  margin: 0;
}
.all-details ul li {
  line-height: 30px;
}
.main-details,
.other-details {
  max-width: 50%;
}
.border-countries {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}
.all-border-countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.border-country {
  padding: 6px 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.5);
}

footer {
  width: 50%;
  margin: 80px auto 10px auto;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 1485px) {
  header {
    padding: 20px 7.5vw;
  }
  .choice {
    padding: 50px 7.5vw;
  }
  div.country {
    margin: 30px;
  }
}
@media (max-width: 1336px) {
  .country_details {
    max-width: 450px;
  }
  .all-details {
    max-width: 450px;
    flex-direction: column;
  }
  div.country_details h2 {
    margin: 8px 0;
  }
}
@media (max-width: 1156px) {
  .details {
    justify-content: space-evenly;
  }
  .country_details {
    max-width: 300px;
  }
  .border-countries {
    align-items: flex-start;
  }
  .border-countries p {
    margin: 0 0 10px 0;
  }
  .all-details {
    max-width: 320px;
    flex-direction: column;
  }
  .main-details,
  .other-details {
    max-width: 100%;
  }
  .border-countries {
    flex-direction: column;
  }
}

@media (max-width: 1068px) {
  .details {
    flex-direction: column;
    justify-content: space-between;
  }
  div.country_details {
    max-width: 500px;
  }
  div.country_details h2 {
    margin: 30px 0;
  }
  .all-details {
    flex-direction: row;
    justify-content: space-around;
    max-width: 700px;
  }

  .main-details {
    width: 100%;
    margin-right: 50px;
  }
  .other-details {
    width: 100%;
  }
  .border-countries {
    margin-top: 30px;
  }
}

@media (max-width: 670px) {
  .country_details {
    margin: 0 auto;
  }
  .flag_img {
    margin: 0 auto;
    width: 400px;
    height: 300px;
  }
  .all-details {
    width: 400px;
  }

  .main-details,
  .other-details {
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  /* the same for 375px - mobile */

  /* the home page */

  header {
    width: 100%;
  }
  h1 {
    font-size: 16px;
  }
  .dark-mode label {
    font-size: 10px;
  }
  .choice {
    flex-direction: column;
  }
  .searcher input {
    width: 300px;
    margin-bottom: 20px;
  }

  /*the details page */

  button.back_home {
    margin-left: 35px;
  }
  .flag_img {
    margin: 0 auto;
    width: 300px;
    height: 200px;
  }

  div.country_details {
    width: 300px;
    margin: 0 auto;
  }
  .all-details {
    flex-direction: column;
    width: 300px;
    min-height: 350px;
  }

  .main-details,
  .other-details {
    max-width: 100%;
  }
  .border-countries {
    flex-direction: column;
  }
  .all-details ul li {
    line-height: 35px;
  }
}
